.logoutContent {
  box-shadow: #0000001a 0px 5px 15px;
  border-radius: 12px;
}
.logoutContent p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.logoutBtn button {
  width: 186px;
  height: 38px;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  gap: 8px;
  background-color: #345485;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}
.logoutBtn button:hover {
  background-color: #113d7e;
}
