.ContactSection {
  background-image: url(../../assets/images/banner/banner.png);
  background-color: #e2ecff;
  background-repeat: no-repeat;
}
.contactLogo {
  width: 294px;
  height: 129px;
}
.bannerImg {
  height: 460px;
}
.welcomeMessage {
  font-family: "Inter", sans-serif;
  line-height: 25px;
}

label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  color: #345485;
}
.submitBtn {
  width: 487px;
  height: 56px;
  background-color: #345485;
  color: #fff;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  padding-top: 17px;
  padding-right: 152px;
  padding-bottom: 17px;
  padding-left: 152px;
  gap: 10px;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: #1c3c6c;
}
input:focus,
textarea:focus {
  outline: 3px solid #98999b;
}
input::placeholder,
textarea::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0%;
  color: #00000080;
}
